<!DOCTYPE html>
<html lang = "en" xlmns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>Spring Boot CSV file Application</title>
    </head>
    <body>

<div class="container importuser">
    <div class="form-group">
    <form method="POST" th:action="@{/sched/upload}" enctype="multipart/form-data">
        <input type="hidden" name="companyGuid" th:value="${companyGuid}"/>
        <input type="file" name="file"/></br></br>
        <button type="submit" class="btn btn-primary btn-lg" value="Import">Import
        </button>
    </form>
    </div>
</div>
</body>
</html>