<div class="container py-5">
    <div class="row">
        <div class="col-10 mx-auto">
            <h1>File Upload Status</h1>
            <!--display error if any-->
            <div class="alert alert-danger" role="alert" th:if="${!status}">
                <strong>Error:</strong>
                <span th:text="${message}"></span>
            </div>

            <!--display users list-->
            <table class="table table-striped" th:if="${status}">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Train Group</th>
                    <th scope="col">Train Name</th>
                    <th scope="col">Departure Station</th>
                    <th scope="col">Arrival Station</th>
                    <th scope="col">Departure Time</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user, i : ${schedule}">
                    <th scope="row" th:text="${i.index + 1}"></th>
                    <td th:text="${schedule.id}"></td>
                    <td th:text="${schedule.train_group}"></td>
                    <td th:text="${schedule.train_name}"></td>
                    <td th:text="${schedule.depature_st}"></td>
                    <td th:text="${schedule.arrival_st}"></td>
                    <td th:text="${schedule.departure_time}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>